@page
@model MenTennis.Pages.Countries.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center myheading">Country Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country.CountryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country.CountryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" class="btn btn-success" asp-route-id="@Model.Country.Id">Edit</a> |
    <a asp-page="./Index">View All Country</a>
</div>
